<!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <h4> Puedes encontrarnos en:</h4>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3251.1755936524733!2d-71.6602819765868!3d-35.425679987358045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9665c6a4599df94f%3A0x1485f54c56d7ea59!2sCuatro%20Sur%20%26%20Calle%206%20Oriente%2C%20Talca%2C%20Maule!5e0!3m2!1ses-419!2scl!4v1657487789345!5m2!1ses-419!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
              </div>

              <div class="col-lg-6 col-md-6 footer-info">
              <div class="col-lg-6 col-md-6 footer-contact">
                <h4>Nuestras redes sociales</h4>
                <div class="social-links mt-6">
                  <a href="https://www.facebook.com/academiamarkatalca/" target = "_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/academia_danza_marka/" target= "_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
                <br>
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>markaoriental@gmail.com</p>
                </div>
                <br>
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Teléfono:</h4>
                  <p>+569 86933144</p>
                </div>
                </div>
              </div>
              <br>
              <br>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
                &copy; Copyright <strong><span>Marka</span></strong>. All Rights Reserved <br>
                Diseñada por Martin Muñoz y Catalina Mendéz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
