{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
  <body>
    
	<!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">

      <!-- muestra las imagenes -->
      <div id="cincopa_1b48c3">...</div><script type="text/javascript">
        var cpo = []; cpo["_object"] ="cincopa_1b48c3"; cpo["_fid"] = "AsAAU4uNcBkz";
        var _cpmp = _cpmp || []; _cpmp.push(cpo);
        (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
        cp.async = true; cp.src = "https://rtcdn.cincopa.com/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c); })(); </script>

      <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Bienvenidos a <span>Academia danza MARKA</span></h2>
            <p class="animate__animated animate__fadeInUp">Somos una de las academias mas influyentes del arte y danza en la región, enfocándonos en el desarrollo de bailarinas y bailarines en múltiples destrezas</p>
            <a href="" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
          </div>
        </div>
      </div>
    </section><!-- End Hero -->


   
      <!-- ======= Icon Boxes Section ======= -->
      <br>
      <br>
      <br>
      <br>
      <section id="icon-boxes" class="icon-boxes">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href=""></a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Icon Boxes Section -->

  	<!-- ======= About Us Section ======= -->
  	 <section id="about" class="about">
  		 <div class="container" data-aos="fade-up">

  			 <div class="section-title">
  				 <h2>Acerca de nosotros</h2>
  				 <p>Somos academia de danzas árabes con renombre a nivel nacional e internacional, Nos movemos y ejercitamos
             con la música en Zumba y ofrecemos animación de eventos, fiestas temáticas, fiestas infantiles y muchos más</p>
  			 </div>

  			 <div class="row content">
  				 <div class="col-lg-6">
  					 <p>
  						 Somos participantes de campeonatos nacionales y mundiales, representando a la región y al país en
               diferentes citas que reúnen a bailarines de todos los estilos músicales.
  					 </p>
  				</div>
  				<div class="col-lg-6 pt-4 pt-lg-0">
          <img class="img-fluid" src="{% static 'app/media/marka.png' %}" alt="marka">
  				 <a href="#" class="btn-learn-more">Learn More</a>
  				</div>
  			 </div>

  		 </div>
  	 </section><!-- End About Us Section -->

     <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Nuestros Servicios</h2>
            <p></p>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <i class="bi bi-eye-fill"></i>
                <h4><a href="#">Marka Oriental</a></h4>
                <p>Viaja y conoce la escencia del lejano oriente a través de la música y danza árabe</p>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <i class="bi bi-boombox-fill"></i>
                <h4><a href="#">Zumba MARKA</a></h4>
                <p>Disfruta de lo mejor del baile combinado con el ejercicio con Zumba </p>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-activity"></i>
                <h4><a href="#">MarkaAnimación</a></h4>
                <p>Animaciones de eventos, cumpleaños, fiestas temáticas, fiesta de emprezas, el mejor entretenimiento a tu disposición </p>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="bi bi-question-diamond"></i>
                <h4><a href="#">Otros Servicios</a></h4>
                <p>Esquinazos, coreografías personalizadas y muchas otras cosas</p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Services Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Contáctanos</h2>
          </div>

          <div class="row d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

            <div class="col-lg-8">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Nos ubicamos en:</h4>
                  <p>6 Oriente esquina 4 sur</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>markaoriental@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Teléfono</h4>
                  <p>+569 86933144</p>
                </div>

                <div class="phone">
                  <a href="https://www.facebook.com/academiamarkatalca/" target = "_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                  <h4>Facebook</h4>
                  <p>Síguenos en Facebook</p>
                </div>

                <div class="phone">
                  <a href="https://www.instagram.com/academia_danza_marka/" target = "_blank" class="facebook"><i class="bi bi-instagram"></i></a>
                  <h4>Instagram</h4>
                  <p>Síguenos en Instagram</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Contact Section -->

    </main>

  
  </body>
</html>
{% endblock %}
