<!-- static navbar -->
<header id="header" class="header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      {% if user.is_authenticated %}
      {% if user.groups.all.0|stringformat:"s" == "CoordinadorEvento" %}
      <h1 class="logo"><a href="/academia_marka/eventos/index">MARKA</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="/admin/app/evento/"><i class="bi bi-journal-text"></i> Eventos (admin)</a></li>
          <li><a class="nav-link" href="/academia_marka/eventos/info"><i class="bi bi-journal-text"></i> Mis Eventos</a></li>
          {% elif user.groups.all.0|stringformat:"s" == "CoordinadorAcademia" %}
          <h1 class="logo"><a href="/academia_marka/horario/index">MARKA</a></h1>
          <nav id="navbar" class="navbar">
              <li><a class="nav-link active" href="/admin/app/horario/"><i class="bi bi-journal-text"></i> Horarios (admin)</a></li>
              <li><a class="nav-link" href="/academia_marka/horario/info"><i class="bi bi-journal-text"></i> Ingresar Horario</a></li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">
              | <i class="bi bi-person"></i> <b>{{ user.first_name }} {{ user.last_name }}</b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">
              <i class="bi bi-box-arrow-right"></i> Salir</a>
          </li>

          {% else %}
          <h1 class="logo"><a href="/">MARKA</a></h1>
          <nav id="navbar" class="navbar" >
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
              <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
              <li><a class="nav-link scrollto " href="/eventos/">Eventos</a></li>
              <li><a class="nav-link scrollto" href="#team">Horarios</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              <li><a href="{% url 'login'%}?next={{request.path}}">Ingresar</a></li>
            </ul>
            {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- End Header -->
<!--
<<nav>
    <div class="container d-flex align-items-center justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"<i class="bi bi-house"></i> MARKA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="us.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="horarios.html">Horarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/eventos/">Eventos</a>
          </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
                  {% if user.groups.all.0|stringformat:"s" == "CoordinadorEvento" %}
                      <li class="nav-item active">
                        <a class="nav-link active" href="/admin/app/evento/"><i class="bi bi-journal-text"></i> Eventos (admin)</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="/eventos/"><i class="bi bi-journal-text"></i> Mis Eventos</a>
                      </li>
                  {% elif user.groups.all.0|stringformat:"s" == "CoordinadorAcademia" %}
                      <li class="nav-item active">
                        <a class="nav-link active" href="/admin/app/horario/"><i class="bi bi-journal-text"></i> Horarios (admin)</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="/app/templates/horario/"><i class="bi bi-journal-text"></i> Ingresar Horario</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="/app/templates/horario/"><i class="bi bi-journal-text"></i> Profesores</a>
                      </li>
                  {% endif %}

                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          | <i class="bi bi-person"></i> <b>{{ user.groups.all.0 }} - {{ user }}</b>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout'%}">
                          <i class="bi bi-box-arrow-right"></i> Salir</a>
                  </li>

              {% else %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'login'%}?next={{request.path}}"><i class="bi bi-box-arrow-left"></i> Ingresar</a>
                  </li>
              {% endif %}
          </ul>
          </div>
      </div>
  </nav>
  -->
