{% extends 'base.html' %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar Horario</span>
                        {% else %}
                        <span>Actualizar Horario</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post">
                    {% else %}
                    <form action="{{ horarios.id }}" method="post">
                        {% endif %}
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.hora_ini.errors }}
                                <label class="form-label" for="{{ form.hora_ini.id_for_label }}">Incio:</label>
                                {{ form.hora_ini }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.hora_ter.errors }}
                                <label class="form-label" for="{{ form.hora_ter.id_for_label }}">Termino:</label>
                                {{ form.hora_ter }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fecha_hor.errors }}
                                <label class="form-label" for="{{ form.fecha_hor.id_for_label }}">Fecha:</label>
                                {{ form.fecha_hor }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.profesor.errors }}
                                <label class="form-label" for="{{ form.profesor.id_for_label }}">Profesor:</label>
                                {{ form.profesor }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.baile.errors }}
                                <label class="form-label" for="{{ form.baile.id_for_label }}">Clase de:</label>
                                {{ form.baile }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.alumno.errors }}
                                <label class="form-label" for="{{ form.alumno.id_for_label }}">Asistentes:</label>
                                {{ form.alumno }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.usuario.errors }}
                                <label class="form-label" for="{{ form.usuario.id_for_label }}">Usuario:</label>
                                {{ form.usuario }}
                            </div>
                        </div>
                        {% if isadd %}
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        {% endif %}
                        <a href="../clases" class="btn btn-danger">Cancelar</a>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
