{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>CHAOOOOOOO</h1>

{% endblock %}

{% block others_js %}
<script>
  
</script>

<script type="text/javascript">
  // Code goes here
        // JSON to CSV Converter
        function extraer_csv(graph) {
          if(graph == "grafico1"){
            var graph = {{ datamembresia|safe }};
            var archivo = "Cantidad de membresias";
            var columna_1 = "Membresia";
            var columna_2 = "Cantidad";
          }

          if(graph == "grafico2"){
            var graph = {{ dataactividades|safe }};
            var archivo = "Cantidad de actividades";
            var columna_1 = "Actividades";
            var columna_2 = "Cantidad";
          }

          // referencia: https://embed.plnkr.co/aO2DwSpmZCQ0GHSmPv7m/
          var array = typeof graph != 'object' ? JSON.parse(graph) : graph;
           console.log(array[0]);
           var contenido = '';
           contenido += columna_1 + "," + columna_2 + '\r\n';

           for (var i = 0; i < array.length; i++) {
             var fila = '';
             for (var index in array[i]) {
               if (fila != '') fila += ','
               fila += array[i][index];
             }
             contenido += fila + '\r\n';
           }

           var link = 'data:text/csv;charset=utf-8,' + escape(contenido);
           $.ajax({
             url: link,
             method: 'GET',
             xhrFields: {
               responseType: 'blob'
             },
             xhr: function () {

               var xhr = new window.XMLHttpRequest();
               xhr.addEventListener("progress", function (evt) {

                 if(evt.lengthComputable) {
                   var percentComplete = evt.loaded / evt.total;
                   console.log(percentComplete);
                 }
               }, false);
               return xhr;
             },
             success: function (data) {
               var a = document.createElement('a');
               var url = window.URL.createObjectURL(data);
               a.href = url;
               a.download = archivo + ".csv";
               document.body.append(a);
               a.click();
               a.remove();
               window.URL.revokeObjectURL(url);
             }
           });
         }

</script>

{% endblock %}
