{% extends "base.html" %}

{% load static %}

{% block content %}
<p></p>
<br><br>
<div class="container-fluid px-4">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Profesores</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="../profesor/index"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="card bg-success text-white mb-4">
    <div class="card-body">Horarios</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="/academia_marka/horario/clases"></a>
        <div class="small text-white">
          <u>Ver más</u>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block others_js %}
<!--
<script>
  $(document).ready(function(){
      // https://canvasjs.com/jquery-charts/
      let dataevento = {{ dataevento|safe }};
      let options1 = {
          title: {
              text: "Eventos por año"
          },
          animationEnabled: true,
          exportEnabled: true,
          data: [
              {
              type: "spline", //change it to line, area, column, pie, etc
              lineColor:"green",
              lineDashType: "dash",
              dataPoints: dataevento,
              xValueFormatString:"Año ####",
              }
          ],
          axisX:{
              title:"Año",
              valueFormatString: "####",
              interval: 1,
          },
          axisY:{
              title:"Cantidad Eventos",
          },
      };

      $("#chartContainer1").CanvasJSChart(options1);
  });
</script>
-->
{% endblock %}
