{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Horarios Disponibles</span>
                        <a class="btn btn-primary btn-sm float-end" href="../add_horario" title="agregar">
                            <i class="bi bi-plus"></i> Agregar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <th>Inicio</th>
                        <th>Termino</th>
                        <th>Fecha</th>
                        <th>Baile</th>
                        <th>Profesor</th>
                    </thead>
                    <tbody>
                    {% for x in horarios %}
                        <tr>
                            <td>{{ x.hora_ini }}</td>
                            <td>{{ x.hora_ter }}</td>
                            <td>{{ x.fecha_hor }}</td>
                            <td>{{ x.baile }}</td>
                            <td>{{ x.profesor }}</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="../update{{ x.id }}" title="editar">
                                <i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger btn-sm" id="btn_delete" href="../delete{{ x.id }}" title="eliminar">
                                <i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block others_js %}
<script>

</script>
{% endblock %}
