{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% load static %}

{% block content %}

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-3 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registro</h3>
            <form>

              <div class="row">
                <div class="col-md-6 mb-4">

                  {{ form.non_field_errors }}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      {{ form.username.errors }}
                      <label class="form-label" for="{{ form.username.id_for_label }}">Usuario</label>
                      {{ form.username }}
                    </div>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      {{ form.email.errors }}
                      <label class="form-label" for="{{ form.email.id_for_label }}">Correo electrónico</label>
                      {{ form.email }}
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.password1.errors }}
                      <label class="form-label" for="form3Example4c">Contraseña</label>
                      {{ form.password1 }}
                    </div>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.password2.errors }}
                      <label class="form-label" for="form3Example4c">Confirmar contraseña</label>
                      {{ form.password2 }}
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.first_name.errors }}
                      <label class="form-label" for="{{ form.first_name.id_for_label }}">Nombre</label>
                      {{ form.first_name }}
                    </div>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.last_name.errors }}
                      <label class="form-label" for="{{ form.last_name.id_for_label }}">Apellido</label>
                      {{ form.last_name }}
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.rut.errors }}
                      <label class="form-label" for="{{ form.rut.id_for_label }}">Rut sin puntos ni guión</label>
                      {{ form.rut }}
                    </div>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.telefono.errors }}
                      <label class="form-label" for="{{ form.telefono.id_for_label }}">Telefono</label>
                      {{ form.telefono }}
                    </div>
                  </div>

                </div>
              </div>

              <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn btn-primary" type="submit" value="Registrarse">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
