{% extends "base.html" %}

{% block content %}

<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar Usuario</span>
                        {% else %}
                        <span>Actualizar Usuario</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body p-md-6">
                {% if isadd %}
                <form class="mx-1 mx-md-4" action="." method="post">
                    {% else %}
                    <form class="mx-1 mx-md-4" action="{{ usuario.id }}" method="post">
                        {% endif %}
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.username.errors }}
                                <label class="form-label" for="{{ form.username.id_for_label }}">Username:</label>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.first_name.errors }}
                                <label class="form-label" for="{{ form.first_name.id_for_label }}">Primer
                                    Nombre:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.last_name.errors }}
                                <label class="form-label" for="{{ form.last_name.id_for_label }}">Apellido:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.rut.errors }}
                                <label class="form-label" for="{{ form.rut.id_for_label }}">Rut:</label>
                                {{ form.rut }}
                            </div>
                        </div>
                        <p>Sin digito verificador y sin puntos</p>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.email.errors }}
                                <label class="form-label" for="{{ form.email.id_for_label }}">Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.telefono.errors }}
                                <label class="form-label" for="{{ form.telefono.id_for_label }}">Telefono:</label>
                                {{ form.telefono }}
                            </div>
                        </div>
                        <p></p>
                        {% if isadd %}
                        <button type="submit" class="btn btn-success">Agregar</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        {% endif %}
                        <a href="/profesor/dashboard" class="btn btn-danger">Cancelar</a>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}