{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Eliminar Usuario</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="{{ usuario.id }}" method="post">
                    {% csrf_token %}
                    <label class="form-label">Username: </label>
                        <input type="text" class="form-control" 
                        value='{{ usuario.username }}' disabled>
                    <label class="form-label">Nombre: </label>
                    <input type="text" class="form-control" 
                        value='{{ usuario.first_name }}' disabled>
                    <label class="form-label">Apellido: </label>
                    <input type="text" class="form-control" 
                        value='{{ usuario.last_name }}' disabled>
                    <label class="form-label">Rut</label>
                    <input type="text" class="form-control" 
                        value='{{ usuario.rut }}' disabled>
                    <label class="form-label">Telefono</label>
                    <input type="text" class="form-control" 
                        value='{{ usuario.telefono }}' disabled>
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" 
                        value='{{ usuario.email }}' disabled>
                    <p></p>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                    <a href="/gimnasio/administrador/usuariodashboard/" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}