{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
<br><br>
<div class="container-fluid px-4">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Profesores</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="academia/profesor/profesor/"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="card bg-success text-white mb-4">
    <div class="card-body">Horarios</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="/academia/profesor/horario"></a>
        <div class="small text-white">
          <u>Ver más</u>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
