{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar Evento</span>
                        {% else %}
                        <span>Actualizar Evento</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post">
                  {% else %}
                  <form action="{{ evento.id }}" method="post">
                    {% endif %}
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fecha_eve.errors }}
                                <label class="form-label" for="{{ form.fecha_eve.id_for_label }}">Fecha:</label>
                                {{ form.fecha_eve }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.ubicacion.errors }}
                                <label class="form-label" for="{{ form.ubicacion.id_for_label }}">Ubicación:</label>
                                {{ form.ubicacion }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.horas.errors }}
                                <label class="form-label" for="{{ form.horas.id_for_label }}">Duración:</label>
                                {{ form.horas }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.actividad.errors }}
                                <label class="form-label" for="{{ form.actividad.id_for_label }}">Actividad:</label>
                                {{ form.actividad }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.usuario.errors }}
                                <label class="form-label" for="{{ form.usuario.id_for_label }}">Usuario:</label>
                                {{ form.usuario }}
                            </div>
                        </div>

                    {% if isadd %}
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    {% endif %}
                    <a href="../info" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
