{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
                <a class="btn btn-outline-dark" id="C1" onclick="downloadCSV(this.id)">
                <i class="bi bi-file-earmark-spreadsheet"></i>Exportar a CSV</a>
              </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
                <a class="btn btn-outline-dark" id="C2" onclick="downloadCSV(this.id)">
                  <i class="bi bi-file-earmark-spreadsheet"></i>Exportar a CSV</a>
            </div>
        </div>
    </div>
</div>
<p></p>

{% endblock %}
{% block others_js %}
<script>

  // Code goes here
       // JSON to CSV Converter
  function downloadCSV(objArray) {
   if(objArray == "C1"){
     var objArray = {{ dataevento|safe }};
     var nombre = "cantidad_eventos_mes";
     var columna1 = "Número mes";
     var columna2 = "Eventos realizados";

   }
   else if(objArray == "C2"){
     var objArray = {{ dataactividades|safe }};
     var nombre = "cantidad_actividades";
     var columna1 = "Actividades";
     var columna2 = "Cantidad";
   }

   // referencia: https://embed.plnkr.co/aO2DwSpmZCQ0GHSmPv7m/
     var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
     console.log(array[0]);
     var str = '';
     str += columna1 + "," + columna2 + '\r\n';

     for (var i = 0; i < array.length; i++) {
         var line = '';
         for (var index in array[i]) {
             if (line != '') line += ','

             line += array[i][index];
         }

         str += line + '\r\n';
     }

     var uri = 'data:text/csv;charset=utf-8,' + escape(str);

     $.ajax({
     url: uri,
     method: 'GET',
     xhrFields: {
         responseType: 'blob'
     },
     xhr: function () {
         var xhr = new window.XMLHttpRequest();
         xhr.addEventListener("progress", function (evt) {
             if(evt.lengthComputable) {
                 var percentComplete = evt.loaded / evt.total;
                 console.log(percentComplete);
             }
         }, false);
         return xhr;
     },
     success: function (data) {
         var a = document.createElement('a');
         var url = window.URL.createObjectURL(data);
         a.href = url;
         a.download = nombre + ".csv";
         document.body.append(a);
         a.click();
         a.remove();
         window.URL.revokeObjectURL(url);
     }
 });
 }

$(document).ready(function() {
    // https://canvasjs.com/jquery-charts/
    let dataevento = {{ dataevento|safe }};
    let dataactividades = {{ dataactividades|safe }};

    let options1 = {
          title: {
              text: "Eventos por Mes"
          },
          animationEnabled: true,
          exportEnabled: true,
          data: [
              {
              type: "spline", //change it to line, area, column, pie, etc
              lineColor:"green",
              lineDashType: "dash",
              dataPoints: dataevento,
              xValueFormatString:"Año ####",
              }
          ],
          axisX:{
              title:"Mes",
              valueFormatString: "####",
              interval: 1,
          },
          axisY:{
              title:"Cantidad Eventos",
          },
      };

      let options2 = {
          title: {
              text: "Historial de actividades más realizadas"
          },
          animationEnabled: true,
          exportEnabled: true,
          data: [
              {
              type: "column",
              dataPoints: dataactividades
              }
          ],
          axisX:{
              title:"Actividades realizadas",
          },
          axisY:{
              title:"Cantidad",
              interval: 1,
          },
      };


    $("#chartContainer1").CanvasJSChart(options1);
    $("#chartContainer2").CanvasJSChart(options2);
});
</script>

{% endblock %}
