<!-- comienzo del archivo en html-->
<!DOCTYPE html>
<html lang="en">

<!-- encabezado de la pagina-->
<head>
    <!-- de esta manera se aceptan caracteres especiales-->
    <meta charset="UTF-8" />
    <!-- titulo de la pagina-->
    <title>Inicio</title>
</head>
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
            <h2>Resumen informativo</h2>
            <table id="table" class="table table-striped" style="width:100%">
                <thead>
                    <th>Fecha </th>
                    <th>Ubicación</th>
                    <th>Actividades</th>
                    <th></th>
                </thead>
                <tbody>
                {% for x in eventos %}
                    <tr>
                        <td>{{ x.fecha_eve }}</td>
                        <td>{{ x.ubicacion }}</td>
                        <td>
                        {% for actividad in x.actividad.all %}
                            {{ actividad }}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
  </div>
</div>
<div class="col-6">
    <div class="card text-center">
        <div class="card-body bg-primary">
          <div class="card-body">
            <h2>Estadísticas</h2>
          <img class="img-fluid" src="{% static 'app/media/marka_anima.png' %}" alt="marka">
        </div>
        <a class="small text-white stretched-link" href="/academia_marka/eventos/graficar"></a>
    </div>
</div>
</div>
</div>


{% endblock %}

{% block others_js %}
<!--
<script>
  $(document).ready(function(){
      // https://canvasjs.com/jquery-charts/
      let dataevento = {{ dataevento|safe }};
      let options1 = {
          title: {
              text: "Eventos por año"
          },
          animationEnabled: true,
          exportEnabled: true,
          data: [
              {
              type: "spline", //change it to line, area, column, pie, etc
              lineColor:"green",
              lineDashType: "dash",
              dataPoints: dataevento,
              xValueFormatString:"Año ####",
              }
          ],
          axisX:{
              title:"Año",
              valueFormatString: "####",
              interval: 1,
          },
          axisY:{
              title:"Cantidad Eventos",
          },
      };

      $("#chartContainer1").CanvasJSChart(options1);
  });
</script>
-->
{% endblock %}
