<!-- comienzo del archivo en html-->
<!DOCTYPE html>
<html lang="en">

<!-- encabezado de la pagina-->
<head>
    <!-- de esta manera se aceptan caracteres especiales-->
    <meta charset="UTF-8" />
    <!-- titulo de la pagina-->
    <title>Información eventos</title>
</head>
{% extends "base.html" %}
{% load static %}
{% block content %}

<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Eventos</span>
                        <a class="btn btn-success btn-sm float-end" href="../add/" title="agregar">
                            <i class="bi bi-plus"></i> Añadir</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="table table-striped" style="width:100%">
                    <thead>
                        <th>Fecha</th>
                        <th>Ubicación</th>
                        <th>Duración</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                    {% for x in eventos %}
                        <tr >
                            <td>{{ x.fecha_eve }}</td>
                            <td>{{ x.ubicacion }}</td>
                            <td>{{ x.horas }}</td>
                            <td>
                            {% for actividad in x.actividad.all %}
                                {{ actividad }}
                            {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="../update/{{ x.id }}" title="editar">
                                <i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger btn-sm" id="btn_delete" href="../delete/{{ x.id }}" title="eliminar">
                                <i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block others_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/cr-1.5.4/datatables.min.js"></script>
<script>
var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {
  $('#table').DataTable( {
    "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando información eventos MARKA",
                "infoEmpty": "Sin información (SIN DATOS)",
                "infoFiltered": "",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando datos",
                "processing": "Procesando información",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primera pág.",
                    "last": "Ultima pág.",
                    "next": "Siguiente pág.",
                    "previous": "Anterior pág."
                }
    },
    "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center"},
            {"targets": 2, "orderable": true, "className": "dt-center"},
            {"targets": 3, "orderable": true, "className": "dt-center"},
 
    ],

    "responsive": true,
        "dom": 'Blfrtip',
        // "bProcessing": true,
        buttons: [
            {
                extend: 'copyHtml5',
                text: 'Copiar información tabla',
                className: 'btn btn-primary',
                exportOptions: {
                    columns: [0, 1, 2, 3]
                }
            },
            {
                extend: 'excelHtml5',
                titleAttr: 'Exportar CSV',
                className: 'btn btn-primary',
                exportOptions: {
                    columns: [0, 1, 2, 3]
                }

            },
        ],
    });


  });
</script>

{% endblock %}
